<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar tarea
    </ion-title>
    <ion-button (click)="auth.logoutUser()" color="danger" size="small" slot="start"><ion-icon class="rotate180" name="log-out"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row center>
      <ion-col class="ion-text-end">
        <ion-toggle color="primary" [checked]="flashToggled" (ionChange)="doFlashlight()"></ion-toggle>
      </ion-col>
      <ion-col class="align-self-center">
        <span>Linterna</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="todoForm" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!todoForm.valid">Agregar
    </ion-button>
  </form>
</ion-content>