<ion-header>
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row center>
    <ion-col text-end>
      <ion-toggle color="primary" [checked]="flashToggled" (ionChange)="doFlashlight($event)"></ion-toggle>
    </ion-col>
    <ion-col align-self-center>
      <span>Linterna</span>
    </ion-col>
  </ion-row>

  <form [formGroup]="todoForm" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-button shape="round" color="primary" fill="solid" type="submit" [disabled]="!todoForm.valid">Agregar
    </ion-button>
  </form>
</ion-content>